div.control-container {
  margin-top: 1em;
  text-align: center;
}
div.control-container div.amplitude-play-pause {
  width: 74px;
  height: 74px;
  cursor: pointer;
}
div.control-container div.amplitude-play-pause.amplitude-paused {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/play.svg");
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 44px;
  cursor: pointer;
  vertical-align: middle;
}
div.control-container div.amplitude-play-pause.amplitude-playing {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/pause.svg");
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 44px;
  cursor: pointer;
  vertical-align: middle;
}
div.bottom-container div.meta-container {
  /* float: left; */
  width: 100%;
  text-align: center;
  color: white;
}
  div.bottom-container div.meta-container span[data-amplitude-song-info="name"] {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #263238;
    display: block;
  }
  div.bottom-container div.meta-container span[data-amplitude-song-info="artist"],
  div.bottom-container div.meta-container span[data-amplitude-song-info="album"],
  div.bottom-container div.meta-container span[data-amplitude-song-info="date"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #263238;
    display: block;
    margin-top: .5em;
  }
div.control-container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 39.9375em) {
  div.control-container div.amplitude-play-pause {
    background-size: cover;
    width: 64px;
    height: 64px;
  }
  div.bottom-container div.meta-container {
    width: 100%;
  }
}
div.time-container {
  opacity: 0.5;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18pxpx;
  color: #263238;
  height: 15px;
}
div.time-container span.current-time {
  float: left;
  margin-left: 5px;
}
div.time-container span.duration {
  float: right;
  margin-right: 5px;
}
progress.amplitude-song-played-progress {
  background-color: #d7dee3;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  height: 8px;
  border: none;
}
progress.amplitude-song-played-progress:not([value]) {
  background-color: #d7dee3;
}
progress[value]::-webkit-progress-bar {
  background-color: #d7dee3;
}
progress[value]::-moz-progress-bar {
  background-color: #0da5b1;
}
progress[value]::-webkit-progress-value {
  background-color: #0da5b1;
}
div.bottom-container {
  /* background-color: #202136; */
  display: flex;
  flex-direction: column;
  max-height: 300px;
}
div#single-song-player {
  border: 1px solid #eaeaea;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 2.5em;
}
div#single-song-player img[data-amplitude-song-info="cover_art_url"] {
  width: 100%;
  max-height: 300px;
}
#single-song-player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.top-container {
  flex: 1;
  max-width: 300px;
  display: flex;
}
.top-container img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}
.bottom-container {
  flex: 2 ;
}
@media screen and (max-width: 39.9375em){
  #single-song-player {
    flex-direction: column;
  }
  .top-container {
    max-width: unset;
  }
  .top-container img {
  max-width: unset;
  }
}
.advancement-container {
  margin: 2em;
}
.all-elements {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto 0;
}
@media screen and (max-width: 1024px){
  .advancement-container {
    display: none;
  }
}